/* Write your CSS here! */
body {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: lightgrey;
}
.mainHeading {
  color: red;
}

#testP{
  color: green;
}
